* text=auto eol=lf
*.cs text diff=csharp
*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
*.meta merge=unityyamlmerge eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.ogg binary
*.mp3 binary
*.wav binary
*.fbx binary

